<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">           
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/info/about">About</a></li>
                <li class="main-header__item">
                    <a href="/admin/add-product">Add Product</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="about">
        <h1 class="about">Our company</h1>
        <p>This page is about our company.</p>
        <p>We are a leading company in our industry.</p>
        <ul>
            <li>Founded in 2020</li>
            <li>Over 100 employees</li>
            <li>Global presence</li>
        </ul>
        <p>Our mission is to provide the best products and services to our customers.</p>
        <p>Contact us for more information!</p>
        <ul>
            <li>Name: Mateusz</li>
            <li>Surname: Lipiec</li>
            <li>Academic year: 2025/2026</li>
            <li>Field of study: Computer Science
                <ul>
                    <li>Group: 41K8</li>
                </ul>
            </li>
            <li>Email: info@ourcompany.com</li>
        </ul>
    </main>
</body>
</html>